<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginsystem.createaccount.CreateAccountActivity"></activity>
        <activity android:name=".spaceshooter.shootergameover.ShooterGameOver" />
        <activity android:name=".spaceshooter.shooterplanegame.ShooterGame" />
        <activity android:name=".spaceshooter.shootergamesetting.ShooterSetting" />
        <activity android:name=".spaceshooter.shootergamestart.ShooterStart" />
        <activity android:name=".hangman.HangmanSetting" />
        <activity android:name=".hangman.HangmanStageEnded" />
        <activity android:name=".hangman.HangmanGameActivity" />
        <activity android:name=".hangman.HangmanMain" />
        <activity android:name=".flappyfish.FlappyGameMenu" />
        <activity android:name=".flappyfish.FlappyResultActivity" />
        <activity android:name=".flappyfish.FlappySetting" />
        <activity android:name=".flappyfish.FlappyMainActivity" />
<!--        <activity android:name=".GuessNum.GuessSetting" />-->
<!--        <activity android:name=".GuessNum.GuessMain" />-->
<!--        <activity android:name=".GuessNum.GuessGame" />-->
<!--        <activity android:name=".GuessNum.GuessCongratulation" />-->
        <activity android:name=".loginsystem.login.LoginActivity" />
        <activity android:name=".mainpage.GameMain" />
        <activity android:name=".loginsystem.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".flappyfish.FlappyBackgroundMusic" />
        <service android:name=".hangman.HangmanBackgroundMusic" />
        <service android:name=".spaceshooter.ShooterBackGroundMusic" />
    </application>

</manifest>